* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.firstnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #212121;
    width: 100%;
    height: 45px;
    padding-left: 3%;
    padding-right: 3%;
}

.secondnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    padding-left: 30px;
    padding-right: 30px;
    flex-wrap: wrap;
    position: relative;
}

.logo {
    height: 85%;
    width: auto;
    max-width: 150px;
}

.navpages {
    width: 800px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.socials {
    display: flex;
    gap: 5px;
    align-items: center;
    /* Fix to vertically center icons */
}

.icons {
    text-decoration: none;
    color: #bbbfc2;
    margin-right: 7%;
    margin-bottom: 2%;
}

.socialsicon {
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 50%;
    background-color: #303030;
    color: #bbbfc2;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phonenumber {
    display: flex;
    gap: 8px;
    color: white;
}

.phonenumbercontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-left: 60%;
}

@media screen and (max-width: 1400px) {
    .phonenumbercontainer {
        margin-left: 0;
    }
}

.fa-phone {
    color: #8ac73e;
}

.callbtn {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #a2d84c;
    border-bottom: 2px solid #668f19;
    text-decoration: none;
    border-radius: 3px;
    font-weight: bolder;
    font-size: 0.7rem;
}

.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.hamburger .line {
    width: 30px;
    height: 3px;
    background-color: #bbbfc2;
    border-radius: 5px;
}


.menu-toggle {
    display: none;
}

.hamburger-menu-content {
    display: none;
    position: absolute;
    top: 75px;
    right: 0;
    background-color: #212121;
    width: 100%;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.hamburger-menu-content a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    border-bottom: 1px solid #bbbfc2;
}

.hamburger-menu-content a:hover {
    background-color: #333;
}

@media screen and (max-width: 1024px) {

    .secondnav {
        padding-left: 10px;
        padding-right: 10px;
    }

    .navpages {
        width: 100%;
        justify-content: space-evenly;
        gap: 15px;
    }

    .logo {
        max-width: 120px;
    }

    .socials {
        gap: 3px;
    }

    .hamburger {
        display: flex;
    }

    .navpages {
        display: none;
    }

    .menu-toggle:checked+.hamburger+.navpages+.hamburger-menu-content {
        display: block;
    }


}
@media screen and (max-width: 560px) {
    .firstnav {
        height: auto;
        justify-content: center;
        gap: 10px;
        min-height: 45px;
        padding-top: 10px;
        padding-bottom: 10px;
     }
}
@media screen and (max-width: 768px) {

    .secondnav {
        height: auto;
        padding-top: 10px;
    }

    .navpages {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .logo {
        margin-bottom: 10px;
    }
}


.herosection {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('/panacloud\ website\ assest/greenBackground.png');
    height: 450px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5%;
    color: white;
    text-align: center;
}

.heroheading {
    font-size: 4rem;
}

.heroparadiv {
    width: 50%;
    text-align: center;
    font-weight: 500;
    margin-bottom: 1%;
}

.herobtn {
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #febd19;
    border-bottom: 2px solid #fe831c;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.1rem;
}

.advantagessection {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
}

.advantagesheading {
    font-size: 3rem;
    font-weight: bold;
}

.advantagesparadiv {
    width: 50%;
    text-align: center;
    color: #bcbdbf;
    margin-bottom: 50px;
    font-size: small;
}

.advantagescard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 250px;
    text-align: center;
    gap: 10px;
}

.advantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.advantagesicons {
    padding: 20px;
    margin-bottom: 10px;
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebebeb;
    border-radius: 50%;
}

.advantagesiconheading {
    font-size: 1.1rem;
}

.advantagescardpara {
    color: #bcbdbf;
    font-size: small;
}

.aboutus {
    background-image: url(panacloud\ website\ assest/about.png);
    height: 560px;
    background-size: cover;
}

.aboutusheading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 35px;
}

.aboutuspara {
    width: 43%;
    padding-left: 5%;
    font-size: medium;
    height: 300px
}

@media screen and (max-width: 1500px) {
    .aboutuspara {
        width: 100%;
        height: auto;
        padding-left: 5%;
        padding-right: 5%;
    }

    .aboutus {
        background-image: none;
        background-color: #f2f2f2;
        height: auto;
        text-align: center;
        padding-bottom: 2%;
    }
}

.aboutusreadmore {
    text-align: center;
    margin-top: 5%;
    width: 140px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #febd19;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    border-bottom: 2px solid #fe831c;
    border-left: none;
    border-right: none;
    border-top: none;
    text-wrap: nowrap;
}

.ourservices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

.ourservicesheadingdiv {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    text-align: center;
}

.ourservicesheading {
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 15px;
}

.ourservicespara {
    color: #bcbdbf;
    font-size: small;
    margin-bottom: 100px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.servicescard {
    background-color: #f1f1f1;
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.servicescard h4 {
    margin-top: 70px;
}

.servicescard p {
    margin-top: 5px;
    color: #7a7a7a;
    font-size: small;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 20px;
}

.servicescard a {
    margin-bottom: 30px;
    color: #7ed119;
}

.servicescard img {
    position: absolute;
    top: -50px;
}

.ourportfoliocontainer {
    background-color: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 5%;
    padding-bottom: 5%;
}

.ourportfoliopara {
    color: white;
    font-size: small;
}

.ourportfolioheading {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.ourportfolioheadingdiv {
    width: 40%;
    text-align: center;
}

.ourportfolioservices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    color: white;
    margin-top: 5px;
}

.logos {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: 200px 200px;
}

@media screen and (max-width: 1024px) {
    .logos {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

.items {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item1 {
    background-color: white;
}

.item2 {
    background-color: #5e5e5e;
}

.item3 {
    background-color: #d1d2d4;
}

.item4 {
    background-color: #838383;
}

.item5 {
    background-color: white;
}

.item6 {
    background-color: #a3a3a3;
}

.item7 {
    background-color: #d2d3d5;
}

.item8 {
    background-color: white;
}

.item9 {
    background-color: #ef4136;
}

.item10 {
    background-color: #5e5e5e;
}

.ourprocesscontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 500px;
    position: relative;
}

.ourprocessheadingdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    width: 45%;
    text-align: center;
}

.ourprocessheading {
    font-size: 2.5rem;
    font-weight: bold;
}

.ourprocesspara {
    font-size: small;
    color: #939498;
}

.horizontalline {
    width: 1100px;
    height: 3px;
    top: 303px;
    background-color: #d1d2d4;
    position: absolute;
    z-index: -2;
}

.circle {
    width: 150px;
    height: 150px;
    border: 3px solid #d1d2d4;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    position: relative;
}

.circle h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-weight: bold;
    top: -10%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #febd19;
}

.processescontainer {
    display: flex;
}

.processes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;
    text-align: center;
}

.processes p {
    padding-left: 10%;
    padding-right: 10%;
    font-size: small;
    color: #979797;
}

@media screen and (max-width: 1140px) {
    .horizontalline {
        display: none;
    }

    .processescontainer {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .ourprocesscontainer {
        height: auto;
        padding-bottom: 5%;
        padding-top: 5%;
        justify-content: center;
        gap: 30px;
    }
}

.peopleaboutuscontainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: #f2f2f2;
    height: 500px;
}

.peopleaboutusheadingdiv {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.peopleaboutusheadingdiv h1 {
    font-weight: bold;
    font-size: 2.5rem;
}

.peopleaboutusheadingdiv p {
    color: #bcbdbf;
    font-size: small;
}

.reviews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
}

.review {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.review img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
}

.review h4 {
    margin-bottom: 10px;
}

.review p {
    font-size: small;
    font-weight: bold;
}

.ballcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.ball1 {
    width: 20px;
    height: 20px;
    background-color: #ff841d;
    border-radius: 50%;
}

.ball2 {
    width: 20px;
    height: 20px;
    background-color: #febd19;
    border-radius: 50%;
}

.ball3 {
    width: 20px;
    height: 20px;
    background-color: #febd19;
    border-radius: 50%;
}

@media screen and (max-width: 1599px) {
    .reviews {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
    }

    .peopleaboutuscontainer {
        height: auto;
        gap: 20px;
        padding-bottom: 20px;
        padding-top: 20px;
    }
}

.skills{
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    text-align: center;
}

.ourskillsheading{
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 1%;
}

.skills p{
    color: #bcbdbf;
    font-size: small;
    margin-bottom: 2%;
}
.skills-circles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.skill {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillscircle {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    border: 20px solid #ecf0f1;
    position: relative;
    font-weight: bold;
    margin-bottom: 5px;
}

#seo-ads {
    border-color: #e74c3c;
    color: #e74c3c;
}

#branding {
    border-color: #f39c12;
    color: #f39c12;
}

#web-design {
    border-color: #668f19;
    color: #668f19;
}
#graphics-design{
    border-color: #212121;
    color: #212121;
}

.percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

.startyournewprojectheading{
    text-align: center;
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 2.5%;
    color: white;
}

.start-project{
    background-color: #8ec63f;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.start-project form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.start-project input {
    padding: 10px;
    width: 250px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ecf0f1;
}

.start-project button {
    padding: 10px 20px;
    background-color: #febd19;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border-bottom: 2px solid #ff841d;
}

.start-project button:hover {
    background-color: #668f19;
}

.start-project p{
 text-align: center;
 color: white;
 font-size: small;
 margin-top: 2.5%;
}

.ourcontactsheading{
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 2.5%;
}

.contacts .contact-details {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 30px;
}

.contact-info {
    font-size: 18px;
    color: #2c3e50;
}

.map img {
    width: 100%;
    margin-top: 30px;
}

.footer {
    background-color: #668f19;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.footerlogodiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.footerlogodiv img{
    width: 100px;
    height: auto;
}
.footerlogodiv p{
    width: 150px;
    font-size: small;
}

.footercontacts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.footercontacticons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.footer h3 {
    margin-bottom: 10px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin: 5px 0;
}

.footer ul li a {
    color: white;
    text-decoration: none;
}

.footer .social-icons {
    display: flex;
    gap: 10px;
}

.footer .social-icons a {
    color: white;
    font-size: 20px;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
    }
}